version: 2.1

orbs:
  docker: circleci/docker@2.8.0

commands:
  setup-buildkit-builder:
    steps:
      - run:
          name: Setup BuildKit builder
          command: |
            docker buildx create --name custom-builder --use
jobs:
  build-and-push-python:
    machine:
      image: ubuntu-2204:current
      docker_layer_caching: true
    parameters:
      python-version:
        type: string
    environment:
      PYTHON_VERSION: << parameters.python-version >>
    steps:
      - checkout
      - setup-buildkit-builder
      - docker/check:
          use-docker-credentials-store: true
      - docker/build:
          step-name: Base Python image
          path: ./python/base
          dockerfile: Dockerfile
          extra_build_args: >-
            --build-arg FROM_PYTHON_VERSION=${PYTHON_VERSION}
            --output='type=registry,compression=zstd,force-compression=true,oci-mediatype=true'
            --provenance=false
            --sbom=false
            --progress plain
          use-buildkit: true
          image: deepnote/python
          tag: ${PYTHON_VERSION}${CIRCLE_PULL_REQUEST:+-ra-${CIRCLE_PULL_REQUEST##*/}}

  build-and-push-python-datascience:
    machine:
      image: ubuntu-2204:current
      docker_layer_caching: true
    parameters:
      python-version:
        type: string
    environment:
      PYTHON_VERSION: << parameters.python-version >>
    steps:
      - checkout
      - setup-buildkit-builder
      - docker/check:
          use-docker-credentials-store: true
      - docker/build:
          step-name: Datascience Python image
          path: ./python/datascience
          docker-context: ./python/datascience
          dockerfile: Dockerfile.datascience
          extra_build_args: >-
            --build-arg FROM_PYTHON_VERSION=${PYTHON_VERSION}
            --output='type=registry,compression=zstd,force-compression=true,oci-mediatype=true'
            --provenance=false
            --sbom=false
            --progress plain
          image: deepnote/python-datascience
          tag: ${PYTHON_VERSION}${CIRCLE_PULL_REQUEST:+-ra-${CIRCLE_PULL_REQUEST##*/}}

  build-and-push-gpu:
    machine:
      image: ubuntu-2204:current
      docker_layer_caching: true
    parameters:
      cuda-tag:
        type: string
      tf-version:
        type: string
      python-version:
        type: string
    environment:
      CUDA_TAG: << parameters.cuda-tag >>
      TF_VERSION: << parameters.tf-version >>
      PY_VERSION: << parameters.python-version >>
    steps:
      - checkout
      - setup-buildkit-builder
      - docker/check:
          use-docker-credentials-store: true
      - docker/build:
          step-name: Tensorflow GPU image
          path: ./gpu
          extra_build_args: >-
            --build-arg CUDA_IMAGE_TAG=${CUDA_TAG}
            --build-arg TF_VERSION=${TF_VERSION}
            --build-arg PYTHON_VER=${PY_VERSION}
            --output='type=registry,compression=zstd,force-compression=true,oci-mediatype=true'
            --provenance=false
            --sbom=false
            --progress plain
          image: deepnote/tensorflow
          tag: ${TF_VERSION}${CIRCLE_PULL_REQUEST:+-ra-${CIRCLE_PULL_REQUEST##*/}}-gpu

workflows:
  build:
    jobs:
      - build-and-push-python:
          name: Python << matrix.python-version >>
          matrix:
            parameters:
              python-version:
                - "3.8"
                - "3.9"
                - "3.10"
                - "3.11"

      - build-and-push-python-datascience:
          name: Python Datascience << matrix.python-version >>
          matrix:
            parameters:
              python-version:
                - "3.8"
                - "3.9"
                - "3.10"
                - "3.11"

      - build-and-push-gpu:
          name: Tensorflow 2.9
          cuda-tag: "11.4.3-runtime-ubuntu20.04"
          tf-version: "2.9.1"
          python-version: "3.8"
      - build-and-push-gpu:
          name: Tensorflow 2.11
          cuda-tag: "11.4.3-runtime-ubuntu20.04"
          tf-version: "2.11.1"
          python-version: "3.10"
      - build-and-push-gpu:
          name: Tensorflow 2.15
          cuda-tag: "12.2.2-runtime-ubuntu22.04"
          tf-version: "2.15.0"
          python-version: "3.11"
