scipy<2
matplotlib<=3.11.2
scikit-learn<2
agate<=1.14.2
keras<=3.15.1
seaborn<=0.13.2
squarify<=0.4.5
nltk<=3.10.3
spacy<4
scrapy>=2.16,<3
datascience>=0.17,<1
textblob<=0.20.1
tabulate<=0.10.0
sympy<=1.14.0
torch<=2.14.0
torchvision<=0.29.0
snowflake-snowpark-python>=1.41,<2
geopandas<=1.1.4
